<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserControllerServlet</servlet-name>
        <servlet-class>com.triofantastico.mobile_app.controller.UserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>com.triofantastico.mobile_app.controller.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileControllerServlet</servlet-name>
        <servlet-class>com.triofantastico.mobile_app.controller.MobileControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.triofantastico.mobile_app.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileController</servlet-name>
        <servlet-class>com.triofantastico.mobile_app.controller.MobileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserControllerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileControllerServlet</servlet-name>
        <url-pattern>/MobileControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileController</servlet-name>
        <url-pattern>/MobileController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
